[user]
	name = Lawand Othman
	email = lwnd@pm.me
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	editor = nvim
	excludesFile = ~/.gitignore_global
	fsmonitor = true
	untrackedCache = true
[pull]
	rebase = true
	autoStash = true
[diff]
	algorithm = histogram
[rebase]
	autoSquash = true
	updateRefs = true
[column]
	ui = auto
[branch]
	autosetuprebase = always
	sort = -committerdate
[alias]
	fomo = "!fish -c 'git fetch origin $(__git.default_branch) && git rebase origin/$(__git.default_branch) --autostash'"
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold 
	newHighlight = green bold 22
[init]
	defaultBranch = main
[fetch]
	prune = true
	writeCommitGraph = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
